<ion-header-bar align-title="center" class="bar-positive">
    <button class="button" ng-click="back()">
        <i class="icon ion-arrow-left-a"></i>
    </button>
    <h1 class="title">Search Results</h1>
</ion-header-bar>

<ion-view view-title="ProductList">
    <ion-content>

        <ion-list can-swipe="true">
            <ion-item ng-repeat="item in items" ng-click="itemClick()"
                      item="item"
                      href="#/product/{{item.soid}}"
                      class="item item-thumbnail-left item-text-wrap item-icon-right">
                <img ng-src="{{ item.image }}">

                <h2><b>{{ item.name }}</b></h2>
                <h4>{{ item.description }}</h4>
                <h4><b>{{ item.price }} €</b></h4>

                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>